@import "tailwindcss";

@theme {
  --color-primary: #6C5CE7;
  --color-primary-dark: #5A4BD6;
  --color-primary-light: #EDEBFD;
  --color-primary-light2: #F5F3FF;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
 
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
